body {
    background-color: #b075d8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

label,textarea {
    display: block;
    margin: 0.5rem 0;
    padding: 0.2rem;
}

textarea {
    text-align: center;
}
